form {
    & .form-control {
        box-shadow: none !important;
        border-radius: 0px;
        outline: none;
        padding: 15px 20px;
        font-size: var(--fs-16);
        font-weight: var(--fw-300);
        resize: none;
        &:focus{
            border-color: darken($white, 15);
        }
        &::placeholder{
            font-size: var(--fs-16);
            font-weight: var(--fw-300);
        }
    }
    & .form-group{
        &.add-btn {
            position: relative;
            & .form-control{
                padding-right: 70px;
            }
            & .btn {
                position: absolute;
                height: 100%;
                top: 0;
                right: 0;
                padding: 15px 20px;
                border-radius: 0px;
                &:hover{
                    background-color: $theme2;
                }
            }
        }
    }
    &.form{
        padding: 30px;
        background-color: $black;
        & .form-control{
            background-color: transparent;
            border-color: rgba($white, 0.2);
            color: $white;
            &::placeholder{
                color: rgba($white, 0.5);
            }
            &:focus{
                border-color: rgba($white, 0.5);
            }
        }
    }
}

// --- Responsive-----
@media screen and (max-width: 575.98px) {
    form {
        & .form-control {
            padding: 11px 20px;
        }
        
    & .form-group{
        &.add-btn {
            & .btn {
                padding: 11px 20px;
            }
        }
    }
    }
}